@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 30 33% 99%;
    --foreground: 28 29% 15%;

    --card: 30 33% 99%;
    --card-foreground: 28 29% 15%;

    --popover: 30 33% 99%;
    --popover-foreground: 28 29% 15%;

    --primary: 25 70% 33%;
    --primary-foreground: 30 33% 99%;

    --secondary: 22 32% 93%;
    --secondary-foreground: 25 70% 33%;

    --muted: 22 32% 93%;
    --muted-foreground: 28 15% 45%;

    --accent: 15 60% 45%;
    --accent-foreground: 30 33% 99%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 30 33% 99%;

    --border: 25 25% 85%;
    --input: 25 25% 85%;
    --ring: 25 70% 33%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 28 29% 15%;
    --foreground: 30 33% 99%;

    --card: 28 29% 15%;
    --card-foreground: 30 33% 99%;

    --popover: 28 29% 15%;
    --popover-foreground: 30 33% 99%;

    --primary: 22 32% 93%;
    --primary-foreground: 28 29% 15%;

    --secondary: 25 25% 25%;
    --secondary-foreground: 30 33% 99%;

    --muted: 25 25% 25%;
    --muted-foreground: 22 32% 80%;

    --accent: 15 60% 45%;
    --accent-foreground: 30 33% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 33% 99%;

    --border: 25 25% 25%;
    --input: 25 25% 25%;
    --ring: 22 32% 93%;

    --radius: 0.5rem;
  }
}